<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965420449570-lcu4vta4o0s225a0bk3r7q5bcds4d87t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965420449570-lcu4vta4o0s225a0bk3r7q5bcds4d87t</string>
	<key>API_KEY</key>
	<string>AIzaSyBh1n0workjzjdbDyl3V2jQxj8y2qyk_hY</string>
	<key>GCM_SENDER_ID</key>
	<string>965420449570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.structure</string>
	<key>PROJECT_ID</key>
	<string>structure-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>structure-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965420449570:ios:3416b345c1b94326736f7b</string>
</dict>
</plist>